#serv-slide.serv-slide
  %ul{"data-listname" => "Websites"}
    %li
      .slide-item
        .slide-icon= draw_svg('slide-static', 'slide_static')
        %span Static
    %li
      .slide-item
        .slide-icon= draw_svg('slide-responsive', 'slide_responsive')
        %span Responsive
    %li
      .slide-item
        .slide-icon= draw_svg('slide-seo', 'slide_seo')
        %span SEO
  %ul{"data-listname" => "Design"}
    %li
      .slide-item
        .slide-icon=draw_svg('slide-logos', 'slide_logos')
        %span Logos
    %li
      .slide-item
        .slide-icon=draw_svg('slide-branding', 'slide_branding')
        %span Branding
    %li
      .slide-item
        .slide-icon=draw_svg('slide-ads', 'slide_ads')
        %span Ads
  %ul{"data-listname" => "Applications"}
    %li
      .slide-item
        .slide-icon=draw_svg('slide-dynamic', 'slide_dynamic')
        %span Dynamic
    %li
      .slide-item
        .slide-icon=draw_svg('slide-functional', 'slide_functional')
        %span Functional
    %li
      .slide-item
        .slide-icon=draw_svg('slide-manageable', 'slide_manageable')
        %span Manageable
  .row
    .large-12.columns
      %nav
        %a{:href => "#"} Websites
        %a{:href => "#"} Design
        %a{:href => "#"} Applications
