#serv-slide.serv-slide
  %ul{"data-listname" => "Websites"}
    %li
      .slide-item
        .slide-icon= draw_svg('slide-static', 'slide_static', 100)
        %span Static
    %li
      .slide-item
        .slide-icon= draw_svg('slide-responsive', 'slide_responsive', 100)
        %span Responsive
    %li
      .slide-item
        .slide-icon= draw_svg('slide-seo', 'slide_seo', 100)
        %span SEO
  %ul{"data-listname" => "Design"}
    %li
      .slide-item
        .slide-icon=draw_svg('slide-logos', 'slide_logos', 100)
        %span Logos
    %li
      .slide-item
        .slide-icon=draw_svg('slide-branding', 'slide_branding', 100)
        %span Branding
    %li
      .slide-item
        .slide-icon=draw_svg('slide-ads', 'slide_ads', 100)
        %span Ads
  %ul{"data-listname" => "Applications"}
    %li
      .slide-item
        .slide-icon=draw_svg('slide-dynamic', 'slide_dynamic', 100)
        %span Dynamic
    %li
      .slide-item
        .slide-icon=draw_svg('slide-functional', 'slide_functional', 100)
        %span Functional
    %li
      .slide-item
        .slide-icon=draw_svg('slide-manageable', 'slide_manageable', 100)
        %span Manageable
  .row
    .large-12.columns
      %nav
        %a{:href => "#"} Websites
        %a{:href => "#"} Design
        %a{:href => "#"} Applications
