#about {
  position: relative;
  background: $primary-color;
  padding-bottom: 200px;
  h3, h4 {
    position: relative;
    z-index: 10;
  }
  .about-content {
    margin-top: 40px;
    .cody-wrap {
      border-radius: 100%;
      overflow: hidden;
      max-width: 125px;
      margin: 0 auto;
      @media screen and (max-width: 70em) {
        margin: 0 auto 40px;
      }
    }
    p {
      margin-bottom: 60px;
      a {
        color: rgba(255,255,255,0.6);
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.lego-icon {
  position: absolute;
  top: -40px;
  left: 15px;
  z-index: 0;
  #about-lego {
    max-height: 350px;
    width: 100%;
  }
  @media screen and (max-width: 400px) {
    left: 30px;
  }
}
