$primary-color: #FFA000;
$secondary-color: #3199FF;
$light-color: #E6EBEB;
$dark-color: #646464;

@import "font-awesome";
@import 'foundation_and_overrides';
@import 'base';
@import 'nav';
@import 'footers';
@import 'intro';
@import 'home';
@import 'services';
@import 'service_slide';
@import 'projects';
@import 'project_expander';
@import 'about';
@import 'contact';
