a {
  transition: background .3s ease, color .3s ease, box-shadow .3s ease, transform 1s ease;
  -webkit-transition: background .3s ease, color .3s ease, -webkit-box-shadow .3s ease, -webkit-transform 1s ease;
  -moz-transition: background .3s ease, color .3s ease, -moz-box-shadow .3s ease, -moz-transform 1s ease;
  -o-transition: background .3s ease, color .3s ease, -o-box-shadow .3s ease, -o-transform 1s ease;

}

@font-face {
    font-family: 'yellowtail';
    src: url(font-path('Yellowtail.eot'));
    src: url(font-path('Yellowtail.eot?') + '#iefix') format('embedded-opentype'),
         url(font-path('Yellowtail.woff')) format('woff'),
         url(font-path('Yellowtail.ttf')) format('truetype'),
         url(font-path('Yellowtail.svg') + '#yellowtailregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.section-row {
  padding-top: 120px;
  @media screen and (max-width: 641px) {
    padding-top: 60px;
  }
}

.content-container {
  padding-bottom: 120px;
  @media screen and (max-width: 641px) {
    padding-bottom: 60px;
  }
}

.page-head, .subhead {
  text-align: center;
}

.page-head {
  font-size: 3em;
  @media screen and (max-width: 641px) {
    font-size: 2em;
  }
}

.subhead {
  font-family: Helvetica;
  opacity: .75;
}

.light {
  color: #fff;
}
