#home {
  background: $primary-color;
  position: relative;
}

.logo {
  margin-top: 100px;
}

.home-header {
  font-family: "nimbus-sans", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 60px 0 100px;
  padding-top: 60px;
  border-top: 1px solid darken($primary-color, 10%);
  text-align: center;
  color: darken($primary-color, 10%);
  font-size: 1.5em;
  @media screen and (max-width: 641px) {
    font-size: 1.25em;
  }
  i {
    position: relative;
    top: 11px;
    padding: 0 10px;
    font-size: 2em;
  }
}
