// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  transition: background .3s ease, color .3s ease, box-shadow .3s ease, transform 1s ease;
  -webkit-transition: background .3s ease, color .3s ease, -webkit-box-shadow .3s ease, -webkit-transform 1s ease;
  -moz-transition: background .3s ease, color .3s ease, -moz-box-shadow .3s ease, -moz-transform 1s ease;
  -o-transition: background .3s ease, color .3s ease, -o-box-shadow .3s ease, -o-transform 1s ease;

}

@font-face {
    font-family: 'NexaSlab';
    src: url(font-path('NexaSlab.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('NexaSlab.woff')) format('woff'), 
         url(font-path('NexaSlab.ttf'))  format('truetype'),
         url(font-path('NexaSlab.svg') + "#NexaSlab") format('svg');
}

// * * * * * * * * * * * * * * * * * * * * * * * * BASE STYLES

html, body {
  margin: 0px;
  padding: 0px;
}

.section-row {
  padding-top: 120px;
  @media screen and (max-width: 641px) {
    padding-top: 60px;
  }
}

.page-head, .subhead {
  text-align: center;
}

.page-head {
  font-size: 3em;
  @media screen and (max-width: 641px) {
    font-size: 2em;
  }
}

.subhead {
  font-family: Helvetica;
}

.light {
  color: #fff;
}

.content-container {
  padding-bottom: 120px;
  @media screen and (max-width: 641px) {
    padding-bottom: 60px;
  }
}

.mobile-nav {
  display: none;
  @media screen and (max-width: 641px) {
    display: block;
  }
}

.top-jump {
  padding: 10px 9px 10px 11px;
  color: $light-color;
  border-radius: 100%;
  font-size: 2em;
  font-weight: bold;
  position: relative;
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 100;
  background: lighten($dark-color, 10%);
  opacity: 0;
  -webkit-animation: moveToRight 350ms ease-in-out both;
  animation: moveToRight 350ms ease-in-out both;
  &.top-jump-active {
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
  }
  &:hover {
    color: #fff;
    background: lighten($dark-color, 15%)
  }
  @media screen and (max-width: 641px) {
    display: none;
  }
}

//stops magellan travel earlier
a.magellan-link {
  position: relative;
  top: 60px;
}

#fixed-nav {
  background: #fff;
  display: none;
  height: 55px;
  @media screen and (max-width: 641px) {
    display: none;
  }
  img{
    height: 35px;
    margin-left: 20px;
  }
  ul{
    list-style: none;
    li{
      &:last-child {
        margin-right: 20px;
      }
      &.active a {
        background: $light-color;
        color: $dark-color !important;
      }
      a{
        float: right;
        color: $dark-color;
        text-align: center;
        margin: 0;
        padding: 5px 10px;
        width: 100px;
        border-radius: 30px;
        @media screen and (max-width: 780px) {
          width: 75px;
        }
        &:hover {
          color: $dark-color !important;
          background: $light-color !important;
        }
      }
    }
  }
}

.area-foot {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  @media screen and (max-width: 641px) {
    height: 30px;
  }
  &.geo-white {
    background: url('footer_g.svg') center bottom repeat-x;
    background-size: cover;
  }
  &.bubs {
    background: url('footer_bubs.svg') center bottom repeat-x;
    background-size: cover;
  }
  &.angle {
    background: url('footer_angle.svg') center bottom repeat-x;    
    background-size: cover;
  }
  &.angle-bottom {
    background: url('footer_angle_bottom.svg') center bottom repeat-x;    
    background-size: cover;
  }
  &.geo-dark {
    background: url('footer_d.svg') center bottom repeat-x;    
    background-size: cover;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * HOME

#home {
  background: url("bg.png");
  position: relative;
}

.logo {
  margin-top: 100px;
}

.home-header {
  font-family: "nimbus-sans", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 60px 0 100px;
  padding-top: 60px;
  border-top: 1px solid darken($primary-color, 10%);
  text-align: center;
  color: darken($primary-color, 10%);
  font-size: 1.5em;
  @media screen and (max-width: 641px) {
    font-size: 1.25em;
  }
  i {
    position: relative;
    top: 11px;
    padding: 0 10px;
    font-size: 2em;
  }
}



// * * * * * * * * * * * * * * * * * * * * * * * * INTRO


#intro {
  position: relative;
  background: $light-color;
  .page-head-hidden {
    height: 5px;
    text-indent: -9999px;
  }
  .home-trifecta {
    margin-top: 100px;
    text-align: center;
    @media screen and (max-width: 641px) {
      margin-top: 20px;
    }
    p {
      color: darken($light-color, 30%);
      margin-bottom: 60px;
      padding-top: 10px;
      border-top: 2px dotted $light-color;
    }
    span {
      margin: 20px 0;
      background: $secondary-color;
      color: #fff;
      border-radius: 100%;
      &.fresh {
        padding: .65em .65em;
        font-size: 3.5em;
      }
      &.agile {
        margin-top: 40px;
        font-size: 5em;
        padding: .65em .91em;
        @media screen and (max-width: 641px) {
          font-size: 3.5em;
          margin-top: 20px;
        }
      }
      &.shield {
        font-size: 2em;
        padding: .72em .88em;
        margin-top: 30;
        @media screen and (max-width: 641px) {
          font-size: 3.5em;
          margin-top: 20px;
        }
      }
    }
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * SERVICES


#services {
  position: relative;
  background: $secondary-color;
  border-bottom: 10px solid $light-color;
  .service-section {
    margin-top: 120px;
    padding-bottom: 15px;
    border-bottom: 1px solid lighten($secondary-color, 15%);
  }
  .service-sub {
    border-radius: 30px;
    position: relative;
    margin: 60px 0;
    h4 {
      padding-top: 15px;
      margin-bottom: 0;
    }
    span {
      font-size: 6em;
      position: absolute;
    }
    &.desc-right {
      text-align: right;
      padding-right: 120px;
      h4 {
        text-align: right;
      }
      span {
        right: 0px;
        top: 0px;
      }
    }
    &.desc-left {
      text-align: left;
      padding-left: 120px;
      h4 {
        text-align: left;
      }
      span {
        left: 0px;
        top: 0px;
      }
    }
  }
}


// | | | | | | | | | SLIDER


.serv-slide {
  position: relative;
  margin-top: 30px;
  height: 490px;
}

.serv-slide ul {
  list-style-type: none;
  margin-left: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100px;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
  span {
    display: none;
  }
}

.no-js .serv-slide ul {
  position: relative;
  left: auto;
  bottom: auto;
  margin: 0;
  overflow: visible;
}

.serv-slide ul.serv-current {
  pointer-events: auto;
}

.serv-slide ul li {
  display: inline-block;
  margin: 2%;
  padding: 20px;
  width: 25%;
  max-width: 300px;
  -webkit-transform: translateX(600%);
  transform: translateX(600%);
}

.no-js .serv-slide ul li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.serv-slide ul li img {
  display: block;
  margin: 0 auto;
}

.serv-slide ul li img {
  max-width: 100%;
  border: none;
}

.serv-slide ul li span {
  display: inline-block;
  font-family: Helvetica;
  color: lighten($secondary-color, 30%);
  font-weight: 100;
  font-size: 1em;
  padding: 20px 10px 0;
}

.serv-slide nav {
  position: relative;
  top: 360px;
  text-align: center;
  max-width: 90em;
  margin: 0 auto;
  border-top: 1px solid #fff;
}

.no-js nav {
  display: none;
}

.serv-slide nav a {
  display: inline-block;
  font-family: "NexaSlab";
  padding: 30px 30px 30px 34px;
  position: relative;
  color: lighten($secondary-color, 30%);
  outline: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.serv-slide nav a:hover,
.serv-slide nav a.serv-selected {
  color: #fff;
}

.serv-slide nav a.serv-selected:after,
.serv-slide nav a.serv-selected:before {
  content: '';
  position: absolute;
  top: -1px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.serv-slide nav a.serv-selected:after {
  border-color: transparent;
  border-top-color: $secondary-color;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}

.serv-slide nav a.serv-selected:before {
  border-color: transparent;
  border-top-color: #fff;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}

/* Move classes and animations */

.serv-slide ul:first-child li,
.no-js .serv-slide ul li {
  -webkit-animation: scaleUp 350ms ease-in-out both;
  animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
  0% { transform: translateX(0) scale(0); }
  100% { transform: translateX(0) scale(1); }
}

.serv-slide ul:first-child li:first-child {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.serv-slide ul:first-child li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.serv-slide ul:first-child li:nth-child(3) {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

.serv-slide ul:first-child li:nth-child(4) {
  -webkit-animation-delay: 360ms;
  animation-delay: 360ms;
}

/* moveFromRight */

.serv-slide ul.serv-moveFromRight li {
  -webkit-animation: moveFromRight 350ms ease-in-out both;
  animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.serv-slide ul.serv-moveFromLeft li {
  -webkit-animation: moveFromLeft 350ms ease-in-out both;
  animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.serv-slide ul.serv-moveToRight li {
  -webkit-animation: moveToRight 350ms ease-in-out both;
  animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.serv-slide ul.serv-moveToLeft li {
  -webkit-animation: moveToLeft 350ms ease-in-out both;
  animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.serv-slide ul.serv-moveToLeft li:first-child,
.serv-slide ul.serv-moveFromRight li:first-child,
.serv-slide ul.serv-moveToRight li:nth-child(4),
.serv-slide ul.serv-moveFromLeft li:nth-child(4) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.serv-slide ul.serv-moveToLeft li:nth-child(2),
.serv-slide ul.serv-moveFromRight li:nth-child(2),
.serv-slide ul.serv-moveToRight li:nth-child(3),
.serv-slide ul.serv-moveFromLeft li:nth-child(3) {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.serv-slide ul.serv-moveToLeft li:nth-child(3),
.serv-slide ul.serv-moveFromRight li:nth-child(3),
.serv-slide ul.serv-moveToRight li:nth-child(2),
.serv-slide ul.serv-moveFromLeft li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.serv-slide ul.serv-moveToLeft li:nth-child(4),
.serv-slide ul.serv-moveFromRight li:nth-child(4),
.serv-slide ul.serv-moveToRight li:first-child,
.serv-slide ul.serv-moveFromLeft li:first-child  {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
  0% { transform: translateX(600%); }
  100% { transform: translateX(0); }
}

@keyframes moveFromLeft {
  0% { transform: translateX(-600%); }
  100% { transform: translateX(0); }
}

@keyframes moveToRight {
  0% { transform: translateX(0%); }
  100% { transform: translateX(600%); }
}

@keyframes moveToLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-600%); }
}

.serv-slide {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){

  .serv-slide nav a {
    font-size: 12px;
    padding: 40px 10px 30px 14px;
  }
}

@media screen and (max-width: 740px){
  .serv-slide {
    margin-top: 100px;
    height: 300px;
  }
  .serv-slide nav {
    top: 200px;
  }
}

@media screen and (max-width: 490px){ 
  .serv-slide {
    text-align: center;
    height: auto;
    margin-top: 20px; 
  }

  .serv-slide ul {
    margin-left: 0;
    position: relative;
    display: inline;
    bottom: auto;
    pointer-events: auto;
    &:before {
      display: block;
      position: relative;
      bottom: -40px;
      content: attr(data-listname);
      font-family: "NexaSlab";
      color: $light-color;
      font-size: 1.5em;
      margin-top: 60px;
    }
    span {
      font-family: "NexaSlab";
      font-size: 1.5em;
      margin-top: 60px;
      display: block;
    }
  }

  .serv-slide ul li {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid lighten($secondary-color, 15%);
    text-align: left;
    img {
      position: relative;
      bottom: 7px;
      width: 60px;
      display: inline;
    }
    h4 {
      display: inline;
    }
  }

  .serv-slide nav {
    display: none;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * PROJECTS

#projects {
  position: relative;
  background: $light-color;
  padding-bottom: 200px;
}


// | | | | | | | expand grid

.main > p {
  text-align: center;
  padding: 50px 20px;
}

.grid-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.grid-grid li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  height: 250px;
}

.grid-grid li a img {
  max-width: 250px;
}

.grid-grid li > a,
.grid-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.grid-grid li.grid-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $dark-color;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px;
}

.grid-expander {
  position: absolute;
  background: $dark-color;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}

.grid-expander-inner {
  padding: 50px 30px;
  height: 100%;
}

.expand-close {
  position: absolute;
  background: $dark-color;
  font-size: 2.5em;
  color: lighten($dark-color, 30%);
  top: 20px;
  right: 20px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.expand-close:hover::before,
.expand-close:hover::after {
  color: lighten($dark-color, 15%);
}

.grid-fullimg,
.grid-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.grid-details {
  padding: 0 40px 0 20px;
}

.grid-fullimg {
  text-align: center;
}

.grid-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.grid-details h3 {
  color: $light-color;
  font-weight: 300;
  font-size: 2.5em;
  padding: 40px 0 10px;
  margin-bottom: 10px;
}

.grid-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: lighten($dark-color, 30%);
}

.grid-details a {
  font-size: 1rem;
  border-radius: 30px;
  background: lighten($dark-color, 30%);
  color: $dark-color;
  padding: 10px 30px;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.grid-details a:hover {
  background: lighten($dark-color, 20%);
}

.grid-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .grid-expander h3 { font-size: 32px; }
  .grid-expander p { font-size: 13px; }
  .grid-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .grid-fullimg { display: none; }
  .grid-details { float: none; width: 100%; }
  
}

// * * * * * * * * * * * * * * * * * * * * * * * * ABOUT

#about {
  position: relative;
  background: $primary-color;
  .cs-info {
    p {
      margin-top: 100px;
    }
    .cs-img {
      padding: 2%;
      margin-top: 20px;
      border-radius: 100%;
      width: 100%;
    }
    .cs-img-caption span {
      font-size: .85em;
    }
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * CONTACT

#contact {
  background: $light-color;
  position: relative;
  min-height: 700px;
  h3, h4 {
    position: relative;
    z-index: 10;
  }
}

.contact-icon {
  font-size: 20em;
  color: lighten($light-color, 5%);
  position: absolute;
  top: -60px;
  right: 50px;
  z-index: 0;
  @media screen and (max-width: 400px) {
    right: 30px;
    font-size: 15em;
  }
}

#contact-form-row {
  position: relative;
  margin-top: 60px;
  z-index: 10;
  @media screen and (max-width: 1025px) {
    padding-bottom: 60px;
  }
  .contact-label {
    padding: 0 0 10px 0;
    font-size: .8em;
  }
  .inline-input input[type="text"], .inline-input input[type="email"] {
    background: none;
    height: 1.1em;
    font-size: 1.25em;
    border: 0;
    box-shadow: none;
    padding: 0px !important;
    border-bottom: 1px solid darken($light-color, 20%);
  }
}

textarea {
  height: 180px !important;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
  background: linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  border: 0;
  padding: 9px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  line-height: 31px;
  font-family: Arial, Helvetica, Sans-serif;
  &:focus{
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
    background: linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(rgba(255,255,255,0) 30px, darken($light-color, 20%) 30px, darken($light-color, 20%) 31px, rgba(255,255,255,0) 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
  }
}




// * * * * * * * * * * * * * * * * * * * * * * * * FOOTER

footer {
  height: 200px;
  padding-top: 60px;
  text-align: center;
  background: $dark-color;
  color: lighten($dark-color, 20%);
  a {
    @media screen and (max-width: 641px) {
      font-size: 4em;
    }
    font-size: 3em;
    margin: 0 10px;
    color: lighten($dark-color, 20%);
    &:hover {
      color: lighten($dark-color, 50%);
    }
  }
  p {
    margin-top: 20px;
  }
}
      