// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  transition: background .3s ease, color .3s ease, box-shadow .3s ease, transform 1s ease;
  -webkit-transition: background .3s ease, color .3s ease, -webkit-box-shadow .3s ease, -webkit-transform 1s ease;
  -moz-transition: background .3s ease, color .3s ease, -moz-box-shadow .3s ease, -moz-transform 1s ease;
  -o-transition: background .3s ease, color .3s ease, -o-box-shadow .3s ease, -o-transform 1s ease;

}

@font-face {
    font-family: 'NexaSlab';
    src: url(font-path('NexaSlab.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('NexaSlab.woff')) format('woff'), 
         url(font-path('NexaSlab.ttf'))  format('truetype'),
         url(font-path('NexaSlab.svg') + "#NexaSlab") format('svg');
}

// * * * * * * * * * * * * * * * * * * * * * * * * BASE STYLES

html, body {
  margin: 0px;
  padding: 0px;
}

.section-row {
  padding-top: 120px;
  @media screen and (max-width: 641px) {
    padding-top: 60px;
  }
}

.page-head {
  font-size: 3em;
  @media screen and (max-width: 641px) {
    font-size: 2em;
  }
}

.subhead {
  font-family: Helvetica;
}

.light {
  color: #fff;
}

.content-container {
  padding-bottom: 120px;
  @media screen and (max-width: 641px) {
    padding-bottom: 60px;
  }
}

.mobile-nav {
  display: none;
  @media screen and (max-width: 641px) {
    display: block;
  }
}

.top-jump {
  padding: 4px 10px 6px;
  color: $light-color;
  font-size: 2em;
  font-weight: bold;
  display: none;
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 100;
  background: lighten($dark-color, 10%);
  &:hover {
    color: #fff;
    background: lighten($dark-color, 15%)
  }
  @media screen and (max-width: 641px) {
    display: none;
  }
}

//stops magellan travel earlier
a.magellan-link {
  position: relative;
  top: 60px;
}

#fixed-nav {
  background: #fff;
  display: none;
  height: 55px;
  @media screen and (max-width: 641px) {
    display: none;
  }
  img{
    height: 35px;
    margin-left: 20px;
  }
  ul{
    list-style: none;
    li{
      &:last-child {
        margin-right: 20px;
      }
      &.active a {
        background: $light-color;
        color: $dark-color !important;
      }
      a{
        float: right;
        color: $dark-color;
        text-align: center;
        margin: 0;
        padding: 5px 10px;
        width: 100px;
        border-radius: 30px;
        @media screen and (max-width: 780px) {
          width: 75px;
        }
        &:hover {
          color: $dark-color !important;
          background: $light-color !important;
        }
      }
    }
  }
}

.area-foot {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  @media screen and (max-width: 641px) {
    height: 30px;
  }
  &.geo-white {
    background: url('footer_w.svg') center bottom repeat-x;
    background-size: cover;
  }
  &.bubs {
    background: url('footer_bubs.svg') center bottom repeat-x;
    background-size: cover;
  }
  &.geo-dark {
    background: url('footer_d.svg') center bottom repeat-x;    
    background-size: cover;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * HERO

#hero-area {
  background: url("bg.png");
  position: relative;
}

.logo {
  margin-top: 100px;
}

.hero-header {
  font-family: "nimbus-sans", "Helvetica", Helvetica, Arial, sans-serif;
  margin: 60px 0 100px;
  padding-top: 60px;
  border-top: 1px solid darken($primary-color, 10%);
  text-align: center;
  color: darken($primary-color, 10%);
  font-size: 1.5em;
  @media screen and (max-width: 641px) {
    font-size: 1.25em;
  }
  i {
    position: relative;
    top: 11px;
    padding: 0 10px;
    font-size: 2em;
  }
}



// * * * * * * * * * * * * * * * * * * * * * * * * HOME


#home {
  position: relative;
  background: #fff;
  .page-head-hidden {
    height: 5px;
    text-indent: -9999px;
  }
  h3,h4 {
    text-align: center;
  }
  .home-trifecta {
    margin-top: 100px;
    text-align: center;
    @media screen and (max-width: 641px) {
      margin-top: 20px;
    }
    p {
      margin-bottom: 60px;
      padding-top: 10px;
      border-top: 2px dotted $light-color;
    }
    span {
      margin: 20px 0;
      background: $secondary-color;
      color: #fff;
      border-radius: 100%;
      &.fresh {
        padding: .65em .65em;
        font-size: 3.5em;
      }
      &.agile {
        margin-top: 40px;
        font-size: 5em;
        padding: .65em .91em;
        @media screen and (max-width: 641px) {
          font-size: 3.5em;
          margin-top: 20px;
        }
      }
      &.shield {
        font-size: 2em;
        padding: .72em .88em;
        margin-top: 30;
        @media screen and (max-width: 641px) {
          font-size: 3.5em;
          margin-top: 20px;
        }
      }
    }
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * SERVICES


#services {
  position: relative;
  background: $secondary-color;
  h3, h4 {
    text-align: center;
  }
  .service-section {
    margin-top: 120px;
    padding-bottom: 15px;
    border-bottom: 1px solid lighten($secondary-color, 15%);
  }
  .service-sub {
    border-radius: 30px;
    position: relative;
    margin: 60px 0;
    h4 {
      padding-top: 15px;
      margin-bottom: 0;
    }
    span {
      font-size: 6em;
      position: absolute;
    }
    &.desc-right {
      text-align: right;
      padding-right: 120px;
      h4 {
        text-align: right;
      }
      span {
        right: 0px;
        top: 0px;
      }
    }
    &.desc-left {
      text-align: left;
      padding-left: 120px;
      h4 {
        text-align: left;
      }
      span {
        left: 0px;
        top: 0px;
      }
    }
  }
}




// * * * * SLIDER

.serv-slide {
  position: relative;
  margin-top: 30px;
  height: 490px;
}

.serv-slide ul {
  list-style-type: none;
  margin-left: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100px;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}

.no-js .serv-slide ul {
  position: relative;
  left: auto;
  bottom: auto;
  margin: 0;
  overflow: visible;
}

.serv-slide ul.serv-current {
  pointer-events: auto;
}

.serv-slide ul li {
  display: inline-block;
  margin: 2%;
  padding: 20px;
  width: 25%;
  max-width: 300px;
  -webkit-transform: translateX(600%);
  transform: translateX(600%);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.no-js .serv-slide ul li {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.serv-slide ul li img {
  display: block;
  margin: 0 auto;
}

.serv-slide ul li img {
  max-width: 100%;
  border: none;
}

.serv-slide ul li h4 {
  display: inline-block;
  font-family: Helvetica;
  color: lighten($secondary-color, 20%);
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 10px 0;
}

.serv-slide nav {
  position: relative;
  top: 360px;
  text-align: center;
  max-width: 90em;
  margin: 0 auto;
  border-top: 1px solid #fff;
}

.no-js nav {
  display: none;
}

.serv-slide nav a {
  display: inline-block;
  font-family: "NexaSlab";
  text-transform: uppercase;
  padding: 30px 30px 30px 34px;
  position: relative;
  color: lighten($secondary-color, 30%);
  outline: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.serv-slide nav a:hover,
.serv-slide nav a.serv-selected {
  color: #fff;
}

.serv-slide nav a.serv-selected:after,
.serv-slide nav a.serv-selected:before {
  content: '';
  position: absolute;
  top: -1px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.serv-slide nav a.serv-selected:after {
  border-color: transparent;
  border-top-color: $secondary-color;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}

.serv-slide nav a.serv-selected:before {
  border-color: transparent;
  border-top-color: #fff;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}

/* Move classes and animations */

.serv-slide ul:first-child li,
.no-js .serv-slide ul li {
  -webkit-animation: scaleUp 350ms ease-in-out both;
  animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
  0% { -webkit-transform: translateX(0) scale(0); }
  100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
  0% { transform: translateX(0) scale(0); }
  100% { transform: translateX(0) scale(1); }
}

.serv-slide ul:first-child li:first-child {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.serv-slide ul:first-child li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.serv-slide ul:first-child li:nth-child(3) {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

.serv-slide ul:first-child li:nth-child(4) {
  -webkit-animation-delay: 360ms;
  animation-delay: 360ms;
}

/* moveFromRight */

.serv-slide ul.serv-moveFromRight li {
  -webkit-animation: moveFromRight 350ms ease-in-out both;
  animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.serv-slide ul.serv-moveFromLeft li {
  -webkit-animation: moveFromLeft 350ms ease-in-out both;
  animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.serv-slide ul.serv-moveToRight li {
  -webkit-animation: moveToRight 350ms ease-in-out both;
  animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.serv-slide ul.serv-moveToLeft li {
  -webkit-animation: moveToLeft 350ms ease-in-out both;
  animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.serv-slide ul.serv-moveToLeft li:first-child,
.serv-slide ul.serv-moveFromRight li:first-child,
.serv-slide ul.serv-moveToRight li:nth-child(4),
.serv-slide ul.serv-moveFromLeft li:nth-child(4) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

.serv-slide ul.serv-moveToLeft li:nth-child(2),
.serv-slide ul.serv-moveFromRight li:nth-child(2),
.serv-slide ul.serv-moveToRight li:nth-child(3),
.serv-slide ul.serv-moveFromLeft li:nth-child(3) {
  -webkit-animation-delay: 90ms;
  animation-delay: 90ms;
}

.serv-slide ul.serv-moveToLeft li:nth-child(3),
.serv-slide ul.serv-moveFromRight li:nth-child(3),
.serv-slide ul.serv-moveToRight li:nth-child(2),
.serv-slide ul.serv-moveFromLeft li:nth-child(2) {
  -webkit-animation-delay: 180ms;
  animation-delay: 180ms;
}

.serv-slide ul.serv-moveToLeft li:nth-child(4),
.serv-slide ul.serv-moveFromRight li:nth-child(4),
.serv-slide ul.serv-moveToRight li:first-child,
.serv-slide ul.serv-moveFromLeft li:first-child  {
  -webkit-animation-delay: 270ms;
  animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
  0% { -webkit-transform: translateX(600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
  0% { -webkit-transform: translateX(-600%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
  0% { transform: translateX(600%); }
  100% { transform: translateX(0); }
}

@keyframes moveFromLeft {
  0% { transform: translateX(-600%); }
  100% { transform: translateX(0); }
}

@keyframes moveToRight {
  0% { transform: translateX(0%); }
  100% { transform: translateX(600%); }
}

@keyframes moveToLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-600%); }
}

.serv-slide {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){

  .serv-slide nav a {
    font-size: 12px;
    padding: 40px 10px 30px 14px;
  }
}

@media screen and (max-width: 740px){
  .serv-slide {
    margin-top: 100px;
    height: 300px;
  }
  .serv-slide nav {
    top: 200px;
  }
}

@media screen and (max-width: 490px){ 
  .serv-slide {
    text-align: center;
    height: auto;
  }

  .serv-slide ul {
    margin-left: 0;
    position: relative;
    display: inline;
    bottom: auto;
    pointer-events: auto;
  }

  .serv-slide ul li {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
    padding: 10px 3px;
    width: 50%;
  }

  .serv-slide nav {
    display: none;
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * PROJECTS

#projects {
  height: 1000px;
  position: relative;
  background: #fff;
}

// * * * * * * * * * * * * * * * * * * * * * * * * ABOUT

#about {
  height: 1000px;
  position: relative;
  background: $dark-color;
}

// * * * * * * * * * * * * * * * * * * * * * * * * CONTACT

#contact {
  background: $light-color;
  position: relative;
  min-height: 800px;
  h3, p {
    position: relative;
    z-index: 10;
  }
}

.contact-icon {
  font-size: 20em;
  color: lighten($light-color, 5%);
  position: absolute;
  top: -60px;
  right: 50px;
  z-index: 0;
  @media screen and (max-width: 400px) {
    right: 30px;
    font-size: 15em;
  }
}

#contact-form-row {
  position: relative;
  z-index: 10;
  .contact-label {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .inline-input input {
    background: none;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid $dark-color;
  }
}

.subject-label {
  padding-right: 0;
}

textarea {
  height: 180px !important;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
  background: -o-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
  background: linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
  background-size: 100% 100%, 100% 100%, 100% 31px;
  border: 0;
  padding: 9px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  line-height: 31px;
  font-family: Arial, Helvetica, Sans-serif;
  &:focus{
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -webkit-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -moz-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -ms-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), -o-linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
    background: linear-gradient(left, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(right, rgba(255,255,255,0) 15px, transparent 15px), linear-gradient(rgba(255,255,255,0) 30px, $dark-color 30px, $dark-color 31px, rgba(255,255,255,0) 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
  }
}




// * * * * * * * * * * * * * * * * * * * * * * * * FOOTER

footer {
  height: 80px;
  padding-top: 20px;
  text-align: center;
  background: $dark-color;
  color: lighten($dark-color, 20%);
}
      