#intro {
  position: relative;
  background: #FFF;
  .page-head-hidden {
    height: 5px;
    text-indent: -9999px;
  }
  .home-trifecta {
    margin-top: 100px;
    text-align: center;
    @media screen and (max-width: 641px) {
      margin-top: 20px;
    }
    h4 {
      font-size: rem-calc(32);
    }
    p {
      opacity: .75;
      margin-bottom: 60px;
      padding-top: 10px;
      border-top: 2px dotted $light-color;
    }
    .tri-icon {
      background: $secondary-color;
      border-radius: 100%;
      display: inline-block;
      &.leaf {
        padding: 1.65em 1.87em;
        #home-leaf {
          height: 75px;
          width: 75px;
        }
      }
      &.bolt {
        padding: 1.95em 1.91em 1.35em;
        #home-bolt {
          width: 125px;
          height: 125px;
        }
        @media screen and (max-width: 641px) {
          #home-bolt {
            width: 75px;
            height: 75px;
          }
          margin-top: 20px;
        }
      }
      &.shield {
        padding: 2.02em 1.8em 1.42em 2.08em;
        #home-shield {
          width: 75px;
          height: 75px;
        }
        @media screen and (max-width: 641px) {
          margin-top: 20px;
        }
      }
    }
    span {
      margin: 20px 0;
      background: $secondary-color;
      color: #fff;
      border-radius: 100%;
      &.fresh {
        padding: .65em .65em;
        font-size: 3.5em;
      }
      &.agile {
        margin-top: 40px;
        font-size: 5em;
        padding: .65em .91em;
        @media screen and (max-width: 641px) {
          font-size: 3.5em;
          margin-top: 20px;
        }
      }
      &.shield {
        font-size: 2em;
        padding: .72em .88em;
        margin-top: 30;
        @media screen and (max-width: 641px) {
          font-size: 3.5em;
          margin-top: 20px;
        }
      }
    }
  }
}
